apiVersion: workflow.example.com/v1
kind: WorkflowTask
metadata:
  name: task-fetch-posts
  namespace: default
spec:
  type: fetch
  http:
    method: GET
    url: "https://jsonplaceholder.typicode.com/posts?userId={{input.userId}}"
    headers:
      Accept: "application/json"
  inputSchema:
    type: object
    properties:
      userId:
        type: integer
        description: User ID to filter posts by
    required:
      - userId
  outputSchema:
    type: array
    items:
      type: object
      properties:
        userId:
          type: integer
        id:
          type: integer
        title:
          type: string
        body:
          type: string
