apiVersion: workflow.example.com/v1
kind: WorkflowTask
metadata:
  name: task-fetch-hn-top-stories
  namespace: default
spec:
  type: http
  http:
    method: GET
    url: "https://hacker-news.firebaseio.com/v0/topstories.json?limitToFirst=5&orderBy=%22$key%22"
    headers:
      Accept: "application/json"
  inputSchema:
    type: object
    properties: {}
  outputSchema:
    type: array
    items:
      type: integer
    description: Array of top story IDs
